---
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
BracedInitializerIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse

# Avoid breaking immediately after '=' if possible
PenaltyBreakAssignment: 21
